Repository charlesrocket/freebsd-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, playbook, plugin, profile, role, test

fix(mainframe): drop `ip_check_interface`
  roles/mainframe/defaults/main.yml
  roles/mainframe/meta/argument_specs.yml
  roles/mainframe/tasks/main.yml
Labels: role

chore(release): prepare for 1.6.2
  CHANGELOG.md
  galaxy.yml
Labels: none

fix(desktop): add missing `ohmyzsh` option
  profiles/charlesrocket/station.yml
  profiles/test/station.yml
  roles/desktop/defaults/main.yml
  roles/desktop/meta/argument_specs.yml
  roles/desktop/tasks/main.yml
Labels: profile, role, test

fix(station): move `essential.git`
  playbooks/station.yml
Labels: playbook

chore(release): prepare for 1.6.3
  CHANGELOG.md
  galaxy.yml
Labels: none

feat: add `tethering` role
  playbooks/station.yml
  profiles/charlesrocket/station.yml
  profiles/test/station.yml
  roles/tethering/README.md
  roles/tethering/defaults/main.yml
  roles/tethering/meta/argument_specs.yml
  roles/tethering/meta/main.yml
  roles/tethering/tasks/main.yml
Labels: playbook, profile, role, test

chore: version bump (1.7.0)
  galaxy.yml
Labels: none

feat: add tags
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore(release): prepare for 1.7.0
  CHANGELOG.md
Labels: none

fix(playbook): tag profile tasks
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore(release): prepare for 1.7.1
  CHANGELOG.md
  galaxy.yml
Labels: none

chore: version bump (1.8.0)
  galaxy.yml
Labels: none

chore: update dependencies
  galaxy.yml
Labels: none

fix: drop `sendmail` tasks
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
  roles/sys/tasks/main.yml
Labels: role

feat: use `fetch_vars`
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore(profile): drop doas config
  profiles/charlesrocket/station.yml
Labels: profile

fix: reimport `fetch_vars`
  charlesrocket-freebsd-1.8.0.tar.gz
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore: cleanup
  charlesrocket-freebsd-1.8.0.tar.gz
Labels: none

chore(release): prepare for 1.8.0
  CHANGELOG.md
Labels: none

ci: update linter
  .github/workflows/ci.yml
Labels: ci

chore: bump ansible version
  meta/runtime.yml
Labels: none

fix: change `wg` defaults
  roles/wg/defaults/main.yml
  roles/wg/meta/argument_specs.yml
Labels: role

refactor: rename variables within roles
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
  profiles/test/server.yml
  profiles/test/station.yml
  roles/accounting/defaults/main.yml
  roles/accounting/meta/argument_specs.yml
  roles/accounting/tasks/main.yml
  roles/common/defaults/main.yml
  roles/common/meta/argument_specs.yml
  roles/common/tasks/main.yml
  roles/desktop/defaults/main.yml
  roles/desktop/meta/argument_specs.yml
  roles/desktop/tasks/main.yml
  roles/kern_sec/defaults/main.yml
  roles/kern_sec/meta/argument_specs.yml
  roles/kern_sec/tasks/main.yml
  roles/mainframe/defaults/main.yml
  roles/mainframe/meta/argument_specs.yml
  roles/mainframe/tasks/main.yml
  roles/pf/defaults/main.yml
  roles/pf/meta/argument_specs.yml
  roles/pf/tasks/main.yml
  roles/pkg_branch/defaults/main.yml
  roles/pkg_branch/meta/argument_specs.yml
  roles/pkg_branch/tasks/main.yml
  roles/qmk/defaults/main.yml
  roles/qmk/meta/argument_specs.yml
  roles/qmk/tasks/main.yml
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
  roles/sys/tasks/main.yml
  roles/wg/defaults/main.yml
  roles/wg/meta/argument_specs.yml
  roles/wg/tasks/main.yml
Labels: profile, role, test

ci: bump fbsd version
  .github/workflows/ci.yml
Labels: ci

chore: update LICENSE
  LICENSE
Labels: none

chore(release): prepare for 1.9.0
  CHANGELOG.md
  galaxy.yml
Labels: none

chore(profile): enable wireguard
  profiles/charlesrocket/station.yml
  profiles/test/station.yml
Labels: profile, test

fix: add drm-kmod
  profiles/charlesrocket/station.yml
  roles/amd/tasks/main.yml
  roles/intel/tasks/main.yml
Labels: profile, role

chore(profile): use new alacritty config
  profiles/charlesrocket/station.yml
Labels: profile

chore(release): prepare for 1.9.1
  CHANGELOG.md
  galaxy.yml
Labels: none

fix(mfa): disable `polkit`
  roles/mfa/tasks/main.yml
Labels: role

build(deps): bump `community.general` to 10.2.0
  galaxy.yml
Labels: none

chore: bump version to 1.12.1
  galaxy.yml
Labels: none

chore(release): prepare for 1.12.1
  CHANGELOG.md
Labels: none

fix(laptop): install intel bluetooth driver
  roles/laptop/tasks/main.yml
Labels: role

chore: update collection tags
  galaxy.yml
Labels: none

chore(release): prepare for 1.12.2
  CHANGELOG.md
  galaxy.yml
Labels: none

fix(emacs): enforce LanguageTool deployment
  roles/emacs/handlers/main.yml
Labels: role

chore: bump version to 1.12.3
  galaxy.yml
Labels: none

style(emacs): fix deployment task formatting
  roles/emacs/handlers/main.yml
Labels: role

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

playbook:
  - 'playbooks/*'

plugin:
  - 'plugins/**/*'

profile:
  - any: ['profiles/**/*', '!profiles/test/*']

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'
  - 'profiles/test/*'
