Repository charlesrocket/freebsd-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, playbook, plugin, profile, role, test

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

playbook:
  - 'playbooks/*'

plugin:
  - 'plugins/**/*'

profile:
  - any: ['profiles/**/*', '!profiles/test/*']

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'
  - 'profiles/test/*'

chore(profile): add dorst config
  profiles/charlesrocket/station.yml
Labels: profile

fix(playbook): update `pre_tasks`
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore: version bump (1.3.1)
  galaxy.yml
Labels: none

fix(pkg_branch): fix repository catalogue
  roles/pkg_branch/tasks/main.yml
Labels: role

feat(pkg_branch): update branch option
  roles/pkg_branch/defaults/main.yml
  roles/pkg_branch/handlers/main.yml
  roles/pkg_branch/meta/argument_specs.yml
  roles/pkg_branch/tasks/main.yml
Labels: role

feat(pkg_branch): change default branch
  roles/pkg_branch/defaults/main.yml
  roles/pkg_branch/meta/argument_specs.yml
Labels: role

chore: version bump (1.4.0)
  galaxy.yml
Labels: none

chore(profile): update pkg options
  profiles/charlesrocket/station.yml
Labels: profile

chore(release): prepare for 1.4.0
  CHANGELOG.md
Labels: none

docs(profile): comment pkg list
  profiles/charlesrocket/station.yml
Labels: profile

test: update profiles
  profiles/test/server.yml
  profiles/test/station.yml
Labels: test

chore(profile): drop devcpu-data
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
Labels: profile

fix(sys): update microcode task
  roles/sys/handlers/main.yml
  roles/sys/tasks/main.yml
Labels: role

chore: version bump (1.4.1)
  galaxy.yml
Labels: none

chore: update dependencies
  galaxy.yml
Labels: none

chore(release): prepare for 1.4.1
  CHANGELOG.md
Labels: none

docs: fix galaxy badge
  README.md
Labels: none

ci: update `checkout`
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci

fix(desktop): drop redundant shell change
  roles/desktop/tasks/main.yml
Labels: role

feat(common): add shell setting
  profiles/charlesrocket/station.yml
  roles/common/meta/argument_specs.yml
  roles/common/tasks/main.yml
Labels: profile, role

docs(common): update descriptions
  roles/common/meta/argument_specs.yml
Labels: role

chore: version bump (1.5.0)
  galaxy.yml
Labels: none

chore(release): prepare for 1.5.0
  CHANGELOG.md
Labels: none

chore(profile): add aria2
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): enable wifi
  profiles/charlesrocket/station.yml
Labels: profile

feat: add clamav role
  playbooks/server.yml
  playbooks/station.yml
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
  profiles/test/server.yml
  profiles/test/station.yml
  roles/clamav/README.md
  roles/clamav/meta/argument_specs.yml
  roles/clamav/meta/main.yml
  roles/clamav/tasks/main.yml
Labels: playbook, profile, role, test

chore: version bump (1.6.0)
  galaxy.yml
Labels: none

chore(profile): add aria2 config
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add gpg config
  profiles/charlesrocket/station.yml
Labels: profile

revert(profile): remove gpg config
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): remove redundant clamav package
  profiles/charlesrocket/station.yml
Labels: profile

docs: update usage
  README.md
Labels: none

feat: add mfa role
  playbooks/server.yml
  playbooks/station.yml
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
  profiles/test/server.yml
  profiles/test/station.yml
  roles/mfa/README.md
  roles/mfa/meta/argument_specs.yml
  roles/mfa/meta/main.yml
  roles/mfa/tasks/main.yml
Labels: playbook, profile, role, test

chore(release): prepare for 1.6.0
  CHANGELOG.md
Labels: none

refactor(profile): move ykpers
  profiles/charlesrocket/station.yml
  roles/mfa/tasks/main.yml
Labels: profile, role

fix(mfa): drop ykpers
  roles/mfa/tasks/main.yml
Labels: role

chore(profile): caja -> thunar
  profiles/charlesrocket/station.yml
Labels: profile

chore: version bump (1.6.1)
  galaxy.yml
Labels: none

docs: update requirements
  docs/requirements.txt
Labels: documentation

chore(release): prepare for 1.6.1
  CHANGELOG.md
Labels: none
