Repository charlesrocket/freebsd-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, playbook, plugin, profile, role, test

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

playbook:
  - 'playbooks/*'

plugin:
  - 'plugins/**/*'

profile:
  - any: ['profiles/**/*', '!profiles/test/*']

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'
  - 'profiles/test/*'

fix(emacs): catch version changes
  roles/emacs/tasks/main.yml
Labels: role

fix(emacs): prepare LanguageTool destination
  roles/emacs/handlers/main.yml
  roles/emacs/tasks/main.yml
Labels: role

chore(release): prepare for 1.12.3
  CHANGELOG.md
Labels: none

chore(profile): add `virtual_oss`
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add `oxipng`
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add `blender`
  profiles/charlesrocket/station.yml
Labels: profile

ops: drop molecule
  .github/workflows/ci.yml
  requirements-dev.txt
Labels: ci

feat(pf): add `pflog` option
  roles/pf/defaults/main.yml
  roles/pf/meta/argument_specs.yml
  roles/pf/tasks/main.yml
Labels: role

feat(sys): add gateway mode option
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
  roles/sys/tasks/main.yml
Labels: role

feat(pf): add `pflog` flags
  roles/pf/defaults/main.yml
  roles/pf/meta/argument_specs.yml
  roles/pf/tasks/main.yml
Labels: role

fix: adjust task names
  roles/pf/tasks/main.yml
  roles/sys/tasks/main.yml
Labels: role

chore: bump version to 1.13.0
  galaxy.yml
Labels: none

build(deps): bump `community.general` to 10.5
  galaxy.yml
Labels: none

feat(qmk): add userspace support
  roles/qmk/defaults/main.yml
  roles/qmk/meta/argument_specs.yml
  roles/qmk/tasks/main.yml
Labels: role

fix(qmk): update git task
  roles/qmk/tasks/main.yml
Labels: role

feat(qmk): add userspace version
  roles/qmk/defaults/main.yml
  roles/qmk/meta/argument_specs.yml
  roles/qmk/tasks/main.yml
Labels: role

fix(qmk): update package name
  roles/qmk/tasks/main.yml
Labels: role

chore(profile): add qmk userspace
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add `hyprlock`
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add `hyprlock` config
  charlesrocket-freebsd-1.13.0.tar.gz
  profiles/charlesrocket/station.yml
Labels: profile

chore: remove collection archive
  charlesrocket-freebsd-1.13.0.tar.gz
Labels: none

chore: ignore archives
  .gitignore
Labels: none

chore(release): prepare for 1.13.0
  CHANGELOG.md
Labels: none

feat: move profiles
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

docs: link `profiles` source
  docs/docsite/rst/profiles.rst
Labels: documentation

chore: bump version to 1.14.0
  galaxy.yml
Labels: none

docs: fix `variables` link
  README.md
Labels: none

refactor: move profiles
  .gitmodules
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
  profiles/test/server.yml
  profiles/test/station.yml
Labels: profile, test

chore: set update procedure
  .gitmodules
Labels: none

chore: remove submodule
  .gitmodules
Labels: none
