Repository charlesrocket/freebsd-collection, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, playbook, plugin, profile, role, test

.github/labeler.yml:

---

ci:
  - '.github/workflows/*'

documentation:
  - 'docs/**/*'

playbook:
  - 'playbooks/*'

plugin:
  - 'plugins/**/*'

profile:
  - any: ['profiles/**/*', '!profiles/test/*']

role:
  - 'roles/**/*'

test:
  - 'molecule/**/*'
  - 'tests/**/*'
  - 'profiles/test/*'

chore: add pr template
  .github/pull_request_template.md
Labels: none

chore: update dependencies
  galaxy.yml
Labels: none

feat(role): add defaults to `sys`
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
Labels: role

feat(playbook): add/improve `kern_sec`
  playbooks/server.yml
  playbooks/station.yml
Labels: playbook

chore: don't deploy lynis profile if the binary is not installed
  roles/common/tasks/main.yml
Labels: role

fix(role): fix `bastille` argument specs
  roles/bastille/meta/argument_specs.yml
Labels: role

feat(role): add defaults to `bastille`
  roles/bastille/defaults/main.yml
  roles/bastille/meta/argument_specs.yml
Labels: role

chore: check if ohmyzsh needs deployment
  roles/desktop/tasks/main.yml
Labels: role

fix(station): check dotfiles list
  playbooks/station.yml
Labels: playbook

feat(role): add defaults to `poudriere`
  roles/poudriere/defaults/main.yml
  roles/poudriere/meta/argument_specs.yml
Labels: role

fix(poudriere): edit `poudriere_zfs`
  roles/poudriere/meta/argument_specs.yml
Labels: role

test: update molecule tests
  molecule/default/converge.yml
  molecule/default/roles/test/tasks/main.yml
  molecule/server/converge.yml
  molecule/server/roles/test/tasks/main.yml
  profiles/test/server.yml
  profiles/test/station.yml
Labels: test

feat(sys): add `ipv6_support` option
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
  roles/sys/tasks/main.yml
Labels: role

chore(profile): enable IPv6
  profiles/charlesrocket/station.yml
Labels: profile

chore: edit documentation link
  galaxy.yml
Labels: none

docs: update README.md
  README.md
Labels: none

chore(release): prepare for 1.2.0
  CHANGELOG.md
Labels: none

chore: use `molecule-plugins`
  requirements-dev.txt
Labels: none

test(molecule): rename test tasks
  molecule/default/roles/test/tasks/main.yml
  molecule/server/roles/test/tasks/main.yml
Labels: test

feat(sys): add more system options
  roles/sys/defaults/main.yml
  roles/sys/meta/argument_specs.yml
  roles/sys/tasks/main.yml
Labels: role

feat(sys): show var states
  roles/sys/tasks/main.yml
Labels: role

docs(sys): edit arg spec descriptions
  roles/sys/meta/argument_specs.yml
Labels: role

chore: version bump
  galaxy.yml
Labels: none

chore: update profiles
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
Labels: profile

feat(mainframe): SSH is enabled by default
  roles/mainframe/meta/argument_specs.yml
Labels: role

feat(mainframe): add more server options
  roles/mainframe/defaults/main.yml
  roles/mainframe/meta/argument_specs.yml
  roles/mainframe/tasks/main.yml
Labels: role

feat(desktop): add more desktop options
  roles/desktop/defaults/main.yml
  roles/desktop/meta/argument_specs.yml
  roles/desktop/tasks/main.yml
Labels: role

chore(profile): add `acpi`
  profiles/charlesrocket/station.yml
Labels: profile

test(molecule): increase verbosity
  molecule/default/molecule.yml
  molecule/server/molecule.yml
Labels: test

fix: use `ansible_user` variable
  profiles/charlesrocket/server.yml
  profiles/charlesrocket/station.yml
  roles/common/tasks/main.yml
  roles/desktop/tasks/main.yml
  roles/virtualbox/tasks/main.yml
Labels: profile, role

test(molecule): decrease verbosity
  molecule/default/molecule.yml
  molecule/server/molecule.yml
Labels: test

chore(profile): update dotfiles list
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add socat package
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add battery script
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add network script
  profiles/charlesrocket/station.yml
Labels: profile

chore(release): prepare for 1.3.0
  CHANGELOG.md
Labels: none

chore(profile): add perl5 package
  profiles/charlesrocket/station.yml
Labels: profile

chore: update dependencies
  galaxy.yml
Labels: none

chore(profile): drop lowbatt.sh
  profiles/charlesrocket/station.yml
Labels: profile

chore(profile): add get-volume
  profiles/charlesrocket/station.yml
Labels: profile
